<!doctype html>
<html>
{% include "partials/head.html" %}

<body>
    {% include "partials/menu.html" %}
    <div class="content">
        <ul>
            {% for post in collections['articles']|sort(attribute='date', reverse=True) %}
                <li>
                    <a href="{{post.slug}}/">{{post.title}}</a>
                    <span>{{post.date.strftime('%b %d %Y')}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% include "partials/footer.html" %}
</body>

</html>
